body{
    /* background-color: rgb(164, 95, 228); */
    background: linear-gradient(135deg, rgba(222,186,245,1) 0%, rgba(187,77,255,1) 33%, rgba(187,77,255,1) 66%, rgba(222,186,245,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
}
.parent{
    /* flexbox properties for getting stuff where we want it */
    display:flex;
    justify-content: center;
    align-items: center;

    /* makes the div cover a full page */
    height: 100vh;
    
}
.login-box{
    /* flex properties for the text and button */
    display: flex;
    flex-flow:column;
    justify-content: space-around;
    align-items: center;

    /* properties for the box itself */
    background-color: rgb(255, 255, 255);
    width: 33%;
    height: 33%;
    min-width: 250px;
    min-height: 250px;

    /* rounded border */
    border-radius: 20px;

    /* shadow */
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.65);
}

/* input boxes for username and password */
.username, .password{
    border:0px;
    border-bottom: solid 1px black;
    font-size: large;
    width:50%;
}

/*  */
.submit{
    width: 33%;
    height: 20%;
    font-size: large;
    font-weight: bold;
    background-color: #40d3f7;

    /* rounded border */
    border-radius: 40px;
}